public/downloads/curb-appeal-step-1-4-demo-pipeline.json
{
  "name": "Curb Appeal — Steps 1-4: Demo Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "s14-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Provide the homepage URL — the workflow discovers all key pages automatically\n// Slug is auto-generated from the domain name\nreturn [{\n  json: {\n    url: 'https://example.com'\n  }\n}];"
      },
      "id": "s14-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FIRECRAWL_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $json.url, limit: 50 }) }}",
        "options": {}
      },
      "id": "s14-map",
      "name": "Firecrawl Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const links = ($json.links || []);\nconst baseUrl = $('Set Config').first().json.url.replace(/\\/$/, '');\n\n// Parse hostname with regex — URL constructor not available in n8n sandbox\nconst hostnameMatch = baseUrl.match(/^https?:\\/\\/([^\\/]+)/);\nconst hostname = hostnameMatch ? hostnameMatch[1] : baseUrl;\nconst domain = hostname.replace(/^www\\./, '');\nconst slug = domain.replace(/\\.[^.]+$/, '').replace(/[^a-z0-9]+/gi, '-').toLowerCase();\n\nconst SKIP = /\\/(blog|post|article|news|press|legal|privacy|terms|sitemap|tag|category|feed|wp-|admin|login|404|cdn|assets|uploads|media)\\b/i;\nconst KEEP = /\\/(about|service|contact|menu|pricing|location|team|appointment|booking|offer|product|portfolio|gallery)\\b/i;\n\nconst filtered = [baseUrl];\n\nfor (const link of links) {\n  if (filtered.length >= 8) break;\n  const clean = link.replace(/\\/$/, '');\n  if (clean === baseUrl) continue;\n  if (SKIP.test(clean)) continue;\n  if (/sitemap/i.test(clean) || clean.match(/\\.[a-z]{2,4}$/i)) continue;\n  const pathMatch = clean.match(/^https?:\\/\\/[^\\/]+(\\/.*)?$/);\n  const path = pathMatch ? (pathMatch[1] || '/') : '/';\n  const depth = path.split('/').filter(Boolean).length;\n  if (depth <= 2 && (KEEP.test(clean) || depth === 1)) {\n    filtered.push(clean);\n  }\n}\n\nreturn [{ json: { filtered_urls: filtered, homepage: baseUrl, slug } }];"
      },
      "id": "s14-filter",
      "name": "Filter Key Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "filtered_urls",
        "options": {}
      },
      "id": "s14-split",
      "name": "Split URLs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FIRECRAWL_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $json.filtered_urls, formats: $json.filtered_urls === $('Filter Key Pages').first().json.homepage ? ['markdown', 'screenshot'] : ['markdown'] }) }}",
        "options": {}
      },
      "id": "s14-scrape",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst url = data.metadata?.sourceURL || '(unknown url)';\nconst title = data.metadata?.title || url;\nconst screenshot = data.screenshot || null;\n\n// Strip data URI lines and map noise from markdown before passing to Claude\nconst rawMarkdown = data.markdown || '(no content scraped)';\nconst cleanedMarkdown = rawMarkdown\n  .split('\\n')\n  .filter(line => !line.includes('data:image'))\n  .filter(line => !line.includes('maps.googleapis.com'))\n  .filter(line => !line.includes('maps.gstatic.com'))\n  .filter(line => !line.includes('©2026 Google'))\n  .join('\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Extract real image URLs from original markdown before stripping\nconst imgRegex = /!\\[.*?\\]\\((https?:\\/\\/[^)\\s]+)\\)/g;\nconst imageUrls = [];\nlet m;\nwhile ((m = imgRegex.exec(rawMarkdown)) !== null) {\n  const src = m[1];\n  if (\n    !src.endsWith('.svg') &&\n    !src.includes('data:') &&\n    !src.includes('pixel') &&\n    !src.includes('track') &&\n    !src.includes('maps.googleapis.com') &&\n    !src.includes('maps.gstatic.com') &&\n    !src.includes('google.com/maps')\n  ) {\n    imageUrls.push(src);\n  }\n}\n\nreturn [{ json: { formatted: `--- PAGE: ${title} | URL: ${url} ---\\n\\n${cleanedMarkdown}`, image_urls: imageUrls, screenshot } }];"
      },
      "id": "s14-format",
      "name": "Format Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst slug = $('Filter Key Pages').first().json.slug;\nconst combined = items.map(i => i.json.formatted).join('\\n\\n========\\n\\n');\n\n// Get screenshot from homepage (first item that has one)\nconst screenshot = items.find(i => i.json.screenshot)?.json.screenshot || null;\n\n// Deduplicate image URLs across all scraped pages\nconst seen = new Set();\nconst imageUrls = [];\nfor (const item of items) {\n  for (const u of (item.json.image_urls || [])) {\n    if (!seen.has(u)) { seen.add(u); imageUrls.push(u); }\n  }\n}\n\nreturn [{ json: { combined_content: combined, slug, image_urls: imageUrls.slice(0, 20), screenshot } }];"
      },
      "id": "s14-combine",
      "name": "Combine Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "jsCode": "const combinedContent = $json.combined_content;\nconst slug = $json.slug;\nconst screenshot = $json.screenshot || null;\nconst imageUrls = $json.image_urls || [];\n\nconst textPrompt = `You are analyzing a local business website to create a precise brand profile for a redesign. Study everything carefully and return ONLY valid JSON — no markdown, no code blocks, no explanation.\n\n${screenshot ? 'A screenshot of the homepage is attached. Use it to identify the current color palette, visual style, and layout.' : ''}\n\nReturn this exact JSON structure:\n{\n  \"business_name\": \"exact business name from the site\",\n  \"tagline\": \"their tagline or slogan, or null\",\n  \"business_type\": \"specific type e.g. 'mobile pet grooming spa', 'competitive dance studio', 'craft brewery'\",\n  \"services\": [\"list\", \"of\", \"specific\", \"services\"],\n  \"contact\": {\n    \"phone\": \"phone number or null\",\n    \"email\": \"email or null\",\n    \"address\": \"full address or null\"\n  },\n  \"hours\": \"business hours as a string, or null\",\n  \"target_audience\": \"specific description of who they serve — age, lifestyle, needs\",\n  \"tone\": \"one of: friendly, professional, casual, corporate, rustic, playful, luxury, energetic\",\n  \"colors\": {\n    \"primary\": \"#hexcode — dominant brand color visible on the site, or best inference from content\",\n    \"accent\": \"#hexcode — standout accent color, or null\",\n    \"background\": \"#hexcode — main background color\"\n  },\n  \"font_style\": \"describe the typography: e.g. 'elegant serif', 'clean modern sans', 'bold display', 'handwritten script'\",\n  \"aesthetic_notes\": \"honest assessment of what is visually dated or weak about the current site\",\n  \"key_differentiators\": \"specific credentials, awards, years in business, or unique claims\",\n  \"redesign_direction\": \"one confident sentence: specific tone, palette approach, and layout style for the redesign\"\n}\n\nScraped content:\n\n${combinedContent}`;\n\nlet messages;\nif (screenshot) {\n  messages = [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'url', url: screenshot } },\n      { type: 'text', text: textPrompt }\n    ]\n  }];\n} else {\n  messages = [{ role: 'user', content: textPrompt }];\n}\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1500,\n  messages\n});\n\nreturn [{ json: { requestBody, slug, image_urls: imageUrls, screenshot } }];"
      },
      "id": "s14-build-brand",
      "name": "Build Brand Profile Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "s14-claude-brand",
      "name": "Claude - Extract Brand Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "jsCode": "const brandProfile = $json.content[0].text;\nconst slug = $('Build Brand Profile Request').item.json.slug;\nconst imageUrls = $('Build Brand Profile Request').item.json.image_urls || [];\n\nconst imageSection = imageUrls.length > 0\n  ? `\\n\\n== EXISTING SITE IMAGES ==\\n\\nThe following image URLs were scraped from the business's existing site. Use them opportunistically where they genuinely improve the design — never force them.\\n\\nGood uses:\\n- Hero background: CSS background-image with a dark gradient overlay so text stays readable\\n- About section: team photo, shop/location photo as CSS background-image with a fallback color\\n- Service section: a photo clearly matching a specific service as CSS background-image with a fallback color\\n\\nSkip any image that looks like a third-party logo, social media icon, map embed, or ad pixel. When in doubt, skip it. If you use an image as a background, always apply a semi-transparent dark overlay.\\n\\nAvailable images:\\n${imageUrls.map(u => '- ' + u).join('\\n')}`\n  : '';\n\nconst prompt = `You are an expert web designer creating a premium, production-grade website redesign demo for a local business. This will be shown to the business owner to win them as a client — quality and distinctiveness are critical.\n\nYou have a brand profile. Use it as your actual design brief.\n\n== STEP 1: COMMIT TO A DIRECTION ==\n\nRead the brand profile carefully. Before writing any code, decide:\n\n1. THE ONE THING: What will make this design memorable and specific to this business? Not just a color — a feeling, an approach, a structural choice that fits this business and no other.\n\n2. AESTHETIC COMMITMENT: Based on the redesign_direction and tone in the brand profile, commit to one of these directions (or define your own that fits better):\n   - luxury/refined: editorial layouts, generous white space, elegant serifs, jewel tone accents\n   - warm/artisanal: organic warmth, amber/earth tones, characterful serif + humanist sans\n   - bold/energetic: high contrast, vivid accent, strong type scale, dynamic section treatments\n   - clean/modern: tight grid, cool palette, geometric details, precise spacing\n   - playful/friendly: rounded forms, warm expressive colors, display type with personality, motion\n   - professional/trustworthy: structured grid, credential-forward, cool anchors, restrained palette\n\n3. SECTION PLAN: Choose 6-8 sections this specific business needs. Not every business needs every section.\n\nALWAYS INCLUDE:\n- Sticky nav\n- Hero (min-height 90vh)\n- Contact/Booking CTA\n- Footer\n\nINCLUDE BASED ON BUSINESS TYPE:\n- Marquee strip — good for multi-service businesses and location callouts\n- Why/Benefits (3 columns) — for trust-building services with clear differentiators\n- Services & Pricing — if services array has 3+ distinct offerings worth showcasing\n- Gallery/Environment — for businesses where physical space or work quality matters (pet grooming, salons, studios, restaurants)\n- Service Area — for mobile businesses or multi-location operations\n- About/Team — if key_differentiators are credential or people-focused\n- Testimonials — placeholder blocks for high-trust service businesses\n- Process/How It Works — for services that feel mysterious or complex to buyers\n\nDO NOT add sections that do not fit. A mobile groomer does not need a gallery of a physical location. A single-service business does not need a pricing comparison table.\n\n== STEP 2: DESIGN SYSTEM ==\n\nFONTS: Choose a pairing that matches your committed direction.\n- luxury/editorial: Cormorant Garamond + Jost, Bodoni Moda + DM Sans, Playfair Display + DM Sans\n- warm/artisanal: Fraunces + Nunito, Lora + Lato, Libre Baskerville + Source Sans 3\n- bold/energetic: Bebas Neue + Nunito Sans, Oswald + Open Sans, Syne + Manrope\n- clean/modern: DM Serif Display + Plus Jakarta Sans, Instrument Serif + Inter\n- playful/friendly: Lilita One + Nunito, Righteous + Quicksand, Paytone One + DM Sans\n- professional: Merriweather + Outfit, Libre Baskerville + Outfit\nNEVER use Inter, Roboto, Arial, or system-ui as the display font.\n\nCOLOR PALETTE: Use the colors object from the brand profile as your starting point. Build a 4-value system:\n- dark: deep anchor for nav and dark sections\n- accent: the standout vivid color — use brand primary or accent, make it distinctive\n- bg: warm or cool off-white (NOT pure #ffffff)\n- bg-alt: slightly darker for alternating sections\n\n== STEP 3: SPATIAL COMPOSITION ==\n\nPush beyond the default. Use the brand personality to drive layout:\n- At least ONE section must use a dramatic treatment: full-bleed background, asymmetric layout, overlapping elements, or diagonal flow\n- Vary section density — some spacious, some dense\n- Hero: avoid plain centered text on dark background unless it is exactly right. Consider left-aligned editorial, split layouts, full-bleed imagery with overlay, or oversized type as the visual anchor\n- Add depth to backgrounds: subtle gradient meshes, geometric shapes, layered transparencies — not flat solid colors\n\n== STEP 4: CORE CSS PATTERNS ==\n\nInclude these in your stylesheet, substituting your actual accent color:\n.rule-accent { height:1px; background:linear-gradient(90deg,transparent,[accent] 30%,[accent] 70%,transparent); }\n.rule-short { display:inline-block; width:48px; height:1px; background:[accent]; flex-shrink:0; }\n.lift { transition:transform 0.35s cubic-bezier(0.34,1.56,0.64,1),box-shadow 0.35s ease; }\n.lift:hover { transform:translateY(-7px); box-shadow:0 28px 60px rgba(0,0,0,0.13); }\n@keyframes marquee { from{transform:translateX(0)} to{transform:translateX(-50%)} }\n.marquee-inner { display:flex; animation:marquee 28s linear infinite; white-space:nowrap; }\n.marquee-inner:hover { animation-play-state:paused; }\n@keyframes fadeUp { from{opacity:0;transform:translateY(22px)} to{opacity:1;transform:translateY(0)} }\n.fu { opacity:0; animation:fadeUp 0.7s ease both; }\n.d1{animation-delay:0.05s} .d2{animation-delay:0.2s} .d3{animation-delay:0.35s} .d4{animation-delay:0.5s} .d5{animation-delay:0.65s}\n.nav-lnk { position:relative; font-size:0.75rem; font-weight:500; letter-spacing:0.1em; text-transform:uppercase; }\n.nav-lnk::after { content:''; position:absolute; bottom:-2px; left:0; width:0; height:1px; background:[accent]; transition:width 0.3s; }\n.nav-lnk:hover::after { width:100%; }\n.prow { border-bottom:1px solid rgba(0,0,0,0.08); } .prow:last-child { border-bottom:none; }\n.prow-dark { border-bottom:1px solid rgba(255,255,255,0.08); } .prow-dark:last-child { border-bottom:none; }\n.incl { display:flex; align-items:flex-start; gap:8px; font-size:0.8125rem; padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.06); }\n.incl:last-child { border-bottom:none; }\n.incl::before { content:'—'; color:[accent]; flex-shrink:0; margin-top:1px; font-size:0.75rem; }\n#mob-nav { display:none; } #mob-nav.open { display:flex; }\n\nANTI-PATTERNS — never do these:\n- No 2x2 or 4x4 emoji badge grids anywhere\n- No gradient hero backgrounds (solid dark + subtle radial overlay max)\n- No Inter, Roboto, Arial, or system-ui as display font\n- No border-radius:9999px on everything\n- No generic purple/pink/blue gradients\n- No pure #ffffff backgrounds\n- No all-centered layouts — vary alignment meaningfully\n- No <img> tags for press logos, publication badges, or award images — these are hotlink-protected and will appear broken. Render press/award sections as styled text only: publication name in uppercase with letter-spacing and muted color, separated by dividers or dots\n\nREQUIREMENTS:\n- Tailwind CSS via CDN: https://cdn.tailwindcss.com\n- Google Fonts via <link> tags in <head> before Tailwind\n- All real images from the existing site must be used as CSS background-image only, never as <img> tags — set a fallback background-color on the same element so if the image is hotlink-blocked, the section still looks intentional\n- <meta name=\"robots\" content=\"noindex, nofollow\"> in <head>\n- Mobile hamburger menu functional via JS onclick classList.toggle\n- All forms must be non-functional: add disabled attribute to all inputs, selects, and buttons inside forms, and include a visible banner inside the form that reads 'This is a redesign demo — form submissions are disabled.' Style the banner in a small, muted italic note so it is clear but not disruptive\n- Footer: \"Redesign demo by derekjensen.io\"\n- Output ONLY raw HTML starting with <!DOCTYPE html> — no markdown, no explanation, no code fences\n\nBrand profile:\n${brandProfile}${imageSection}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 32000,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { requestBody, slug } }];"
      },
      "id": "s14-build-html",
      "name": "Build HTML Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "anthropic-beta",
              "value": "output-128k-2025-02-19"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "s14-claude-html",
      "name": "Claude - Generate HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "jsCode": "const rawHtml = $json.content[0].text;\nconst slug = $('Build HTML Request').item.json.slug;\n\n// Strip markdown code fences if Claude wrapped the output despite instructions\nconst html = rawHtml\n  .replace(/^```html\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nreturn [{ json: { html, slug } }];"
      },
      "id": "s14-extract-html",
      "name": "Extract HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Set Config": {
      "main": [[{ "node": "Firecrawl Map", "type": "main", "index": 0 }]]
    },
    "Firecrawl Map": {
      "main": [[{ "node": "Filter Key Pages", "type": "main", "index": 0 }]]
    },
    "Filter Key Pages": {
      "main": [[{ "node": "Split URLs", "type": "main", "index": 0 }]]
    },
    "Split URLs": {
      "main": [[{ "node": "Firecrawl Scrape", "type": "main", "index": 0 }]]
    },
    "Firecrawl Scrape": {
      "main": [[{ "node": "Format Page", "type": "main", "index": 0 }]]
    },
    "Format Page": {
      "main": [[{ "node": "Combine Pages", "type": "main", "index": 0 }]]
    },
    "Combine Pages": {
      "main": [[{ "node": "Build Brand Profile Request", "type": "main", "index": 0 }]]
    },
    "Build Brand Profile Request": {
      "main": [[{ "node": "Claude - Extract Brand Profile", "type": "main", "index": 0 }]]
    },
    "Claude - Extract Brand Profile": {
      "main": [[{ "node": "Build HTML Request", "type": "main", "index": 0 }]]
    },
    "Build HTML Request": {
      "main": [[{ "node": "Claude - Generate HTML", "type": "main", "index": 0 }]]
    },
    "Claude - Generate HTML": {
      "main": [[{ "node": "Extract HTML", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
